/* Admin Panel Container */
.admin-panel-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #222222;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Left Panel - Task Management */
.left-panel {
    width: 50%;
    background-color: #2a2a2a;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    padding: 0 20px;
    overflow-y: auto;
}

/* Right Panel - User Task Tables */
.right-panel {
    width: 50%;
    background-color: #2a2a2a;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* User Task Tables */
.user-task-table {
    margin-bottom: 30px;
    flex-grow: 1;
}

/* Table styling */
.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    box-sizing: border-box;
    table-layout: fixed;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

/* Table cell styling */
th, td {
    padding: 4px;
    text-align: center;
    border: 1px solid #444;
    background-color: #3a3a3a;
    color: white;
    font-size: 6px;
    word-wrap: break-word;
}

/* Buttons */
.create-btn, .back-button {
    background-color: #1d1d1d;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 300px;
    margin-top: 10px;
    align-self: center;
}

.create-btn:hover, .back-button:hover {
    background-color: #111;
}

.Toastify__toast-container {
    z-index: 9999 !important;
}

/* Responsive Design for Mobile Only */
@media (max-width: 768px) {
    .admin-panel-container {
        flex-direction: column;
        height: 100vh;
    }

    .left-panel {
        display: none;
    }

    .right-panel {
        width: 100%;
        border-radius: 0;
        padding: 16px;
    }

    .table {
        font-size: 4px;
        table-layout: auto;
        max-width: 100%;
        margin: 0 auto;
    }

    th, td {
        padding: 2px;
        font-size: 4px;
    }

    .create-btn, .back-button {
        width: 100%;
        font-size: 12px;
        padding: 8px;
    }

    .task-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .task-item button {
        margin: 5px 0 0 0;
        width: 100%;
    }
}
